.form{
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.chatInput{
    flex: 10;
    font-size: 1.3em;
    transition: 0.1s ease-out;
    padding-left: 80px;
    background-color: #eee;
    color: #000;
    /* min-width: 400px; */
}
.chatInput:focus{
    background-color: #e4f1fe;
    color: #222;
    transition: 0.2s ease-in; 
}

