
<section fxLayout= "row wrap" >
  <form>
    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="fControl"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith] = "autocompleteName">
        <mat-option *ngFor="let user of filteredArr" [value]="user">
          {{user.nickName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</section>
<div class="content">
    <div fxLayout= "row wrap"  fxLayoutGap="10px grid">
        <div fxLayoutAlign="center"  fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let user of usersArr">
            <mat-card class="user-card">
                <mat-card-header>
                  <mat-card-title>{{user.nickName}}</mat-card-title>
                  <mat-card-subtitle>
                    <img style="width: 30px;" *ngIf = "user.poker === true" src="../../../assets/poker.svg" alt="">
                    <img *ngIf = "user.baccart === true" src="../../../assets/chip.svg" alt="">
                    <img *ngIf = "user.blackjack === true" src="../../../assets/black-jack.svg" alt="">
                    <img *ngIf = "user.ar === true" src="../../../assets/rollet.svg" alt="">
                  </mat-card-subtitle>
                </mat-card-header>
                <div class="img-holder">
                    <img mat-card-image  class="user-image" src={{user.imgUrl}} alt="User image">
                </div>
                <mat-card-content>
                  <p>
                    The Shiba Inu 
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
           </div>
    </div>
</div>
