.content{
  padding:16px;
}
.form{
  margin-top: 20px;
  padding: 10px;
  min-width: 300px;
}
.user-card{
  cursor: pointer;
  transition: transform 250ms;
  transition-timing-function: ease-out;
}
.user-card:hover {
  z-index: 100;
  transform: scale(1.1);
}
.loading{
  height: 500px;
}
@media only screen and (max-width: 1080px) {
  .user-card {
   margin-top: -30%;
  }
}