<ng-template #loading>
  <div style="position: absolute; left: 50%; top:200px;">
    <div style="position: relative; left: -50%;">
      <app-loader></app-loader>
    </div>
  </div>
</ng-template>
<section class="form"  *ngIf="loading"> 
  <form [formGroup]="form" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center center">
    <mat-form-field>
        <input type="text" matInput placeholder="Имена" [matAutocomplete]="auto" formControlName="nameSearch"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith] = "autocompleteName">
        <mat-option *ngFor="let user of storeUserArr | async ; else indicator" [value]="user">
          {{user.nickName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-select multiple placeholder="Игри" name="games" formControlName="gameSearch">
          <mat-option *ngFor="let game of gamesArr" [value]="game">
             {{game}}
          </mat-option>
      </mat-select> 
  </mat-form-field>
    <mat-form-field>
      <mat-select  placeholder="Казино" name="casino" formControlName="casinoSearch">
          <mat-option *ngFor="let casino of casinosArr" [value]="casino">
             {{casino}}
          </mat-option> 
      </mat-select> 
  </mat-form-field>
  </form>
</section>
<ng-container *ngIf = "storeUserArr | async |  formFilter: formData as storeUserArr; else loading">
  <div class="content"  [@scaleUp]="storeUserArr.length"> 
    <div  fxLayout= "row wrap" fxLayoutAlign="start" fxLayoutAlign.md="center" fxLayoutGap="20px grid">
        <div (click)="onSelect(user)" fxLayoutAlign="center center"  fxFlex.xl="15%" fxFlex.lg="20%" fxFlex.md="25%" fxFlex.xs="50%"
         *ngFor="let user of storeUserArr">
          <app-user-card  [user] = "user" class="user-card"></app-user-card>
        </div>
    </div>
  </div>
</ng-container>

