
<section fxLayout= "row wrap" fxLayoutAlign="center"> 
  <form [formGroup]="form" fxLayoutGap="10px">
    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto" formControlName="nameSearch"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith] = "autocompleteName">
        <mat-option *ngFor="let user of filteredArr" [value]="user">
          {{user.nickName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-select multiple placeholder="Игри" name="games" formControlName="gameSearch">
          <mat-option *ngFor="let game of gamesArr" [value]="game">
             {{game}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  </form>
</section>
<div class="content"  [@scaleUp]="filteredArr.length">
    <div  fxLayout= "row wrap"   fxLayoutGap="10px grid">
        <div (click)="onSelect(user)" fxLayoutAlign="center"  fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let user of filteredArr">
          <app-user-card  [user] = "user" class="user-card"></app-user-card>
        </div>
    </div>
</div>
