
  <div class="signup-form">
  
    <form   [formGroup]="form" fxLayout= "column" fxLayoutGap="10px" (ngSubmit)="onSubmit()">
      <mat-form-field >
        <div>
          <mat-toolbar fxLayoutAlign="center center" >
            <div *ngIf="imgIsValid">
              <img [src]="imgPath" [alt]="form.value.name" class = "imgPreview">
            </div>
            <input matInput [(ngModel)]="fileAttr" [ngModelOptions]="{standalone: true}" class = "fileAttr" readonly name="name" />

          <input type="file" #fileInput id="uploadFile" formControlName="imgPath" (change)="uploadFileEvt($event)" name="uploadFile" accept="image/png, image/jpeg">
          <mat-error *ngIf="f.imgPath.errors?.fileTooBig">Моля изберете снимка до 1МБ</mat-error>
         
        </mat-toolbar>
        </div>
        <button   mat-flat-button color="primary" class = "chooseFile"> 
          Browse File
        </button>
      </mat-form-field>
        <mat-form-field>
           <input 
            type="text" 
            matInput 
            name="nickName" 
            formControlName="nickName"
            placeholder="Псевдоним">
            <mat-error *ngIf="f.nickName.errors?.required">Полето е задължително</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input 
                type="text" 
                matInput
                name = "fullName" 
                placeholder="Имена"
                formControlName="fullName"> 
                <mat-error *ngIf="f.fullName.errors?.required">Полето е задължително</mat-error>
         </mat-form-field >
         <mat-form-field>
            <input 
                type="text" 
                matInput 
                name="phone" 
                placeholder="Телефон"
                formControlName="phone"> 
                <mat-error *ngIf="f.phone.errors?.required">Полето е задължително</mat-error>
         </mat-form-field >

         
         <button type="submit" mat-raised-button color="primary" [disabled] = "!form.valid">Вход</button>
    </form>
  </div>

