.signup-form{
    overflow-y: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-form-field {
    margin: 0;
    width: 300px;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 300px;
}

#uploadFile {
    top:20%;
    width: 100%;    
    z-index: 9;
    opacity:0;
    height: 80%;
    background-color: brown;
    cursor:pointer;
    position: absolute;
}

.imgPreview{
    width: 200px; height: 200px;
	border-radius: 40%;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    object-fit: cover;
}
::ng-deep .form-field-read .mat-form-field-underline {
    display: none;
}

.loading{
    height: 500px;
  }
  .not-visible{
    opacity: 0.01;
  }
  .visible{
    opacity: 1;
  }
.fileAttr{
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: brown;
}