<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>LOGO</div>
    <div fxFlex fxLayout  fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <button mat-mini-fab color="primary">
                <span matTooltip="myMessage">
                    <mat-icon>delete </mat-icon>
                </span>
            </button>
            <mat-icon>person</mat-icon>
            <mat-icon>message</mat-icon>
            <mat-icon>logout</mat-icon>
        </ul>
    </div>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <div>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>

