<section class="signup-form"  fxLayoutAlign="center center">
    <form  [formGroup]="form" fxLayout= "column" fxLayoutGap="10px" (ngSubmit)="onSubmit()">
        <mat-form-field>
           <input 
            type="email" 
            matInput
            formControlName="email"
            placeholder="Имейл">
            <mat-error *ngIf="f.email.errors?.required">Полето е задължително</mat-error>
            <mat-error *ngIf="f.email.errors?.email">Имейлът е невалиден</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input 
                type="password" 
                matInput
                name = "password" 
                placeholder="Парола"
                formControlName="password"> 
                <mat-hint align="end"> {{f.password.value?.length}}/6 </mat-hint>
                <mat-error *ngIf="f.password.errors?.required">Полето е задължително</mat-error>
                <mat-error *ngIf="f.password.errors?.minlength">Минимум 6 символа</mat-error> 

         </mat-form-field >
         <mat-form-field hintLabel="Минимум 6 символа">
            <input 
                type="password" 
                matInput 
                name="rePass" 
                placeholder="Повторете Паролата"
                formControlName="rePass"
                minlength = "6"> 
                <mat-hint align="end"> {{f.rePass.value?.length}}/6 </mat-hint>
                <mat-error *ngIf="f.rePass.errors?.required">Полето е задължително</mat-error>
                <mat-error *ngIf="f.rePass.errors?.minlength">Минимум 6 символа</mat-error> 
                <mat-error *ngIf="f.rePass.errors?.notSame">Паролите не съвпадат</mat-error>
         </mat-form-field >
         <mat-form-field>
            <mat-select placeholder="Роля" name="roles" formControlName="roles">
                <mat-option *ngFor="let role of roleList" [value]="role">
                   {{role}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f.roles.errors?.required">Полето е задължително</mat-error>
        </mat-form-field>
         <button type="submit" mat-raised-button color="primary" [disabled] = "!form.valid">Вход</button>
    </form>
</section>
