<!-- <div>{{chatMessage.messages.message}}</div> -->
<div [ngClass]=" chatMessage.id === id ? 'messageContainer': 'not-own-messageContainer'">
    <div class="messageData">
        <span class="sender">
            {{chatMessage.email}}
        </span>
        <span class="timestamp">
            <!-- {{chatMessage.timeSent  }} -->
            {{chatMessage.timeSent.toDate() | date: 'medium' }}
        </span>
    </div>
    <div  [ngClass]=" chatMessage.id === id ? 'own-message': 'not-own-message'">
        {{chatMessage.message}}
    </div>
</div> 