<mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>{{user.nickName}}</mat-card-title>
      <mat-card-subtitle>
        <img style="width: 30px;" *ngIf = "user.poker === true" src="../../../assets/poker.svg" alt="">
        <img *ngIf = "user.baccart === true" src="../../../assets/chip.svg" alt="">
        <img *ngIf = "user.blackjack === true" src="../../../assets/black-jack.svg" alt="">
        <img *ngIf = "user.ar === true" src="../../../assets/rollet.svg" alt="">
      </mat-card-subtitle>
    </mat-card-header>
    <div class="img-holder">
      <img  class="user-image" src={{user.imgUrl}} alt="User image">
    </div>
    <mat-card-content  *ngIf="user.casino">
      <p style="margin-top: 10px;" class = "mat-h3">
        {{user.casino}}
      </p>
    </mat-card-content>
    <mat-card-actions class= "action">
      <a style="margin-right: 10px;" (click)="scheduleClicked()" color="primary">
        <span matTooltip="График">
            <mat-icon>event</mat-icon>
        </span>
      </a>
      <a (click)="mailClicked()" color="primary">
        <span matTooltip="Съобщение">
            <mat-icon>mail</mat-icon>
        </span>
      </a>
    </mat-card-actions>
  </mat-card>
